<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	
	<!-- 别名定义 -->
	<typeAliases>
		<!-- 单个别名 -->
		<!-- <typeAlias type="pojo.Book" alias="Book"/> -->
		<!-- 批量别名 -->
		<!--<package name="pojo" />-->
	</typeAliases>


	<!-- 引用mapper文件 -->
	<mappers>
		<!-- <mapper resource="mapper/BookMapper.xml" /> -->
		<!-- <mapper class="mapper.BookMapper" /> -->
		<!--<package name="mapper" />-->
	</mappers>


</configuration>
